In [1]:
import pandas as pd
import numpy as np

In [2]:
elec = pd.read_csv("LS_2.0.csv")

In [8]:
elec

              STATE     CONSTITUENCY                   NAME  WINNER PARTY  \
0         Telangana         ADILABAD         SOYAM BAPU RAO       1   BJP
1         Telangana         ADILABAD           Godam Nagesh       0   TRS
2         Telangana         ADILABAD          RATHOD RAMESH       0   INC
3         Telangana         ADILABAD                   NOTA       0  NOTA
4     Uttar Pradesh             AGRA  Satyapal Singh Baghel       1   BJP
...             ...              ...                    ...     ...   ...
2258    Maharashtra  YAVATMAL-WASHIM     Anil Jayram Rathod       0   IND
2259      Telangana        ZAHIRABAD              B.B.PATIL       1   TRS
2260      Telangana        ZAHIRABAD        MADAN MOHAN RAO       0   INC
2261      Telangana        ZAHIRABAD     BANALA LAXMA REDDY       0   BJP
2262      Telangana        ZAHIRABAD                   NOTA       0  NOTA

     SYMBOL GENDER CRIMINAL\nCASES   AGE CATEGORY      EDUCATION  \
0     Lotus   MALE              52  52.0       ST      12th Pass
1       Car   MALE               0  54.0       ST  Post Graduate
2      Hand   MALE               3  52.0       ST      12th Pass
3       NaN    NaN             NaN   NaN      NaN            NaN
4     Lotus   MALE               5  58.0       SC      Doctorate
...     ...    ...             ...   ...      ...            ...
2258   SHIP   MALE               0  43.0  GENERAL  Post Graduate
2259    Car   MALE              18  63.0  GENERAL       Graduate
2260   Hand   MALE               0  49.0  GENERAL  Post Graduate
2261  Lotus   MALE               3  47.0  GENERAL      12th Pass
2262    NaN    NaN             NaN   NaN      NaN            NaN

                                ASSETS                  LIABILITIES  \
0            Rs 30,99,414\n ~ 30 Lacs+      Rs 2,31,450\n ~ 2 Lacs+
1          Rs 1,84,77,888\n ~ 1 Crore+      Rs 8,47,000\n ~ 8 Lacs+
2          Rs 3,64,91,000\n ~ 3 Crore+  Rs 1,53,00,000\n ~ 1 Crore+
3                                  NaN                          NaN
4          Rs 7,42,74,036\n ~ 7 Crore+    Rs 86,06,522\n ~ 86 Lacs+
...                                ...                          ...
2258         Rs 48,90,000\n ~ 48 Lacs+    Rs 10,20,000\n ~ 10 Lacs+
2259  Rs 1,28,78,51,556\n ~ 128 Crore+  Rs 1,15,35,000\n ~ 1 Crore+
2260     Rs 90,36,63,001\n ~ 90 Crore+                     Rs 0\n ~
2261       Rs 5,85,77,327\n ~ 5 Crore+    Rs 52,50,000\n ~ 52 Lacs+
2262                               NaN                          NaN

      GENERAL\nVOTES  POSTAL\nVOTES  TOTAL\nVOTES  \
0             376892            482        377374
1             318665            149        318814
2             314057            181        314238
3              13030              6         13036
4             644459           2416        646875
...              ...            ...           ...
2258           14661             25         14686
2259          434066            178        434244
2260          427900            115        428015
2261          138731            216        138947
2262           11138              2         11140

      OVER TOTAL ELECTORS \nIN CONSTITUENCY  \
0                                 25.330684
1                                 21.399929
2                                 21.092771
3                                  0.875023
4                                 33.383823
...                                     ...
2258                               0.766419
2259                              28.975369
2260                              28.559732
2261                               9.271379
2262                               0.743328

      OVER TOTAL VOTES POLLED \nIN CONSTITUENCY  TOTAL ELECTORS
0                                     35.468248         1489790
1                                     29.964370         1489790
2                                     29.534285         1489790
3                                      1.225214         1489790
4                                     56.464615         1937690
...                                         ...             ...
2258                                   1.250060         1916185
2259                                  41.574183         1498666
2260                                  40.977823         1498666
2261                                  13.302678         1498666
2262                                   1.066535         1498666

[2263 rows x 19 columns]

Q4:Which Party has won and had majority in states?

In [14]:
win=elec[elec['WINNER']==1]

In [26]:
win.groupby('STATE')['PARTY'].value_counts(sort=True)

STATE                      PARTY
Andaman & Nicobar Islands  INC       1
Andhra Pradesh             YSRCP    22
                           TDP       3
Arunachal Pradesh          BJP       2
Assam                      BJP       9
                                    ..
Uttar Pradesh              INC       1
Uttarakhand                BJP       5
West Bengal                AITC     22
                           BJP      18
                           INC       2
Name: PARTY, Length: 85, dtype: int64

In [32]:
data=elec.groupby('STATE')['PARTY'].value_counts()

In [41]:
data=pd.DataFrame(data)

In [65]:
data

                                   PARTY
STATE                     PARTY
Andaman & Nicobar Islands AAP          1
                          BJP          1
                          BSP          1
                          INC          1
                          IND          1
...                                  ...
West Bengal               IND          3
                          RVNP         2
                          BMUP         1
                          SUCI(C)      1
                          WPOI         1

[328 rows x 1 columns]

In [66]:
house=pd.read_csv('house price.csv')

In [77]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4309 entries, 0 to 4308
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4309 non-null   object
 1   Id           4309 non-null   int64
 2   suburb       4308 non-null   object
 3   postalCode   4308 non-null   float64
 4   sellPrice    4308 non-null   float64
 5   bed          4306 non-null   float64
 6   bath         4308 non-null   float64
 7   car          4182 non-null   float64
 8   propType     4308 non-null   object
 9   Unnamed: 9   0 non-null      float64
 10  Unnamed: 10  0 non-null      float64
 11  Unnamed: 11  3 non-null      float64
dtypes: float64(8), int64(1), object(3)
memory usage: 404.1+ KB

In [72]:
house[house['bed']==5].nu

Date           491
Id             491
suburb         491
postalCode     491
sellPrice      491
bed            491
bath           491
car            483
propType       491
Unnamed: 9       0
Unnamed: 10      0
Unnamed: 11      2
dtype: int64

In [73]:
house[house['bed']==5.0].count()['Id']

491

In [75]:
house[house["bed"]== 5.0].count()

Date           0
Id             0
suburb         0
postalCode     0
sellPrice      0
bed            0
bath           0
car            0
propType       0
Unnamed: 9     0
Unnamed: 10    0
Unnamed: 11    0
dtype: int64

In [99]:
net.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [121]:
net=pd.read_csv('net.csv')

In [117]:
def check(string):
    if type(string) == str:
        if 'Mark Ruffalo' in string:
            return True
        else:
            return False
    else:
        return False

In [118]:
data=net['cast'].apply(check)

In [120]:
net[data]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
122,s123,Movie,In the Cut,Jane Campion,"Meg Ryan, Mark Ruffalo, Jennifer Jason Leigh, ...","United Kingdom, Australia, France, United States","September 2, 2021",2003,R,118 min,Thrillers,After embarking on an affair with the cop prob...
1358,s1359,Movie,Shutter Island,Martin Scorsese,"Leonardo DiCaprio, Mark Ruffalo, Ben Kingsley,...",United States,"February 1, 2021",2010,R,139 min,Thrillers,A U.S. marshal's troubling visions compromise ...
6200,s6201,Movie,Avengers: Infinity War,"Anthony Russo, Joe Russo","Robert Downey Jr., Josh Brolin, Mark Ruffalo, ...",United States,"December 25, 2018",2018,PG-13,150 min,"Action & Adventure, Sci-Fi & Fantasy",Superheroes amass to stop intergalactic sociop...
7901,s7902,Movie,Rumor Has It,Rob Reiner,"Jennifer Aniston, Kevin Costner, Shirley MacLa...","United States, Germany, Australia","August 1, 2019",2005,PG-13,97 min,"Comedies, Romantic Movies",When Sarah travels to California for her siste...
8071,s8072,Movie,Spotlight,Tom McCarthy,"Mark Ruffalo, Michael Keaton, Rachel McAdams, ...",United States,"July 22, 2020",2015,R,129 min,"Dramas, Independent Movies",A team of reporters and editors at the Boston ...
8580,s8581,Movie,Thor: Ragnarok,Taika Waititi,"Chris Hemsworth, Tom Hiddleston, Cate Blanchet...",United States,"June 5, 2018",2017,PG-13,131 min,"Action & Adventure, Comedies, Sci-Fi & Fantasy",To save Asgard from a bloodthirsty goddess of ...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."

In [122]:
net

     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8802   s8803    Movie                 Zodiac    David Fincher
8803   s8804  TV Show            Zombie Dumb              NaN
8804   s8805    Movie             Zombieland  Ruben Fleischer
8805   s8806    Movie                   Zoom     Peter Hewitt
8806   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

              date_added  release_year rating   duration  \
0     September 25, 2021          2020  PG-13     90 min
1     September 24, 2021          2021  TV-MA  2 Seasons
2     September 24, 2021          2021  TV-MA   1 Season
3     September 24, 2021          2021  TV-MA   1 Season
4     September 24, 2021          2021  TV-MA  2 Seasons
...                  ...           ...    ...        ...
8802   November 20, 2019          2007      R    158 min
8803        July 1, 2019          2018  TV-Y7  2 Seasons
8804    November 1, 2019          2009      R     88 min
8805    January 11, 2020          2006     PG     88 min
8806       March 2, 2019          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8807 rows x 12 columns]

In [186]:
def sccheck(string):
    if type(string) == str:
        if 'college ' or 'school ' in string:
            print(string)
            return True
        else:
            return False
    else:
        return False

In [181]:
def seasons(string):
    if type(string) == str:
        if 'Seasons' in string:
            return True
        else:
            return False
    else:
        return False

In [174]:
data=net['duration'].apply(seasons)

In [175]:
net[data]

     show_id     type                          title         director  \
1         s2  TV Show                  Blood & Water              NaN
4         s5  TV Show                   Kota Factory              NaN
8         s9  TV Show  The Great British Baking Show  Andy Devonshire
15       s16  TV Show              Dear White People              NaN
17       s18  TV Show                Falsa identidad              NaN
...      ...      ...                            ...              ...
8755   s8756  TV Show              Women Behind Bars              NaN
8795   s8796  TV Show                Yu-Gi-Oh! Arc-V              NaN
8796   s8797  TV Show                     Yunus Emre              NaN
8797   s8798  TV Show                      Zak Storm              NaN
8803   s8804  TV Show                    Zombie Dumb              NaN

                                                   cast  \
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
8     Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
15    Logan Browning, Brandon P. Bell, DeRon Horton,...
17    Luis Ernesto Franco, Camila Sodi, Sergio Goyri...
...                                                 ...
8755                                                NaN
8795  Mike Liscio, Emily Bauer, Billy Bob Thompson, ...
8796  Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...
8797  Michael Johnston, Jessica Gee-George, Christin...
8803                                                NaN

                                            country          date_added  \
1                                      South Africa  September 24, 2021
4                                             India  September 24, 2021
8                                    United Kingdom  September 24, 2021
15                                    United States  September 22, 2021
17                                           Mexico  September 22, 2021
...                                             ...                 ...
8755                                  United States    November 1, 2016
8795                                  Japan, Canada         May 1, 2018
8796                                         Turkey    January 17, 2017
8797  United States, France, South Korea, Indonesia  September 13, 2018
8803                                            NaN        July 1, 2019

      release_year rating   duration  \
1             2021  TV-MA  2 Seasons
4             2021  TV-MA  2 Seasons
8             2021  TV-14  9 Seasons
15            2021  TV-MA  4 Seasons
17            2020  TV-MA  2 Seasons
...            ...    ...        ...
8755          2010  TV-14  3 Seasons
8795          2015  TV-Y7  2 Seasons
8796          2016  TV-PG  2 Seasons
8797          2016  TV-Y7  3 Seasons
8803          2018  TV-Y7  2 Seasons

                                              listed_in  \
1       International TV Shows, TV Dramas, TV Mysteries
4     International TV Shows, Romantic TV Shows, TV ...
8                          British TV Shows, Reality TV
15                               TV Comedies, TV Dramas
17    Crime TV Shows, Spanish-Language TV Shows, TV ...
...                                                 ...
8755                         Crime TV Shows, Docuseries
8795                             Anime Series, Kids' TV
8796                  International TV Shows, TV Dramas
8797                                           Kids' TV
8803             Kids' TV, Korean TV Shows, TV Comedies

                                            description
1     After crossing paths at a party, a Cape Town t...
4     In a city of coaching centers known to train I...
8     A talented batch of amateur bakers face off in...
15    Students of color navigate the daily slights a...
17    Strangers Diego and Isabel flee their home in ...
...                                                 ...
8755  This reality series recounts true stories of w...
8795  Now that he's discovered the Pendulum Summonin...
8796  During the Mongol invasions, Yunus Emre leaves...
8797  Teen surfer Zak Storm is mysteriously transpor...
8803  While living alone in a spooky town, a young g...

[883 rows x 12 columns]

In [187]:
data2=net['description'].apply(sccheck)

As her father nears the end of his life, filmmaker Kirsten Johnson stages his death in inventive and comical ways to help them both face the inevitable.
After crossing paths at a party, a Cape Town teen sets out to prove whether a private-school swimming star is her sister who was abducted at birth.
To protect his family from a powerful drug lord, skilled thief Mehdi and his expert team of robbers are pulled into a violent and deadly turf war.
Feuds, flirtations and toilet talk go down among the incarcerated women at the Orleans Justice Center in New Orleans on this gritty reality series.
In a city of coaching centers known to train India’s finest collegiate minds, an earnest but unexceptional student and his friends navigate campus life.
The arrival of a charismatic young priest brings glorious miracles, ominous mysteries and renewed religious fervor to a dying town desperate to believe.
Equestria's divided. But a bright-eyed hero believes Earth Ponies, Pegasi and Unicorns should be pals — and, hoof to heart, she’s determined to prove it.
On a photo shoot in Ghana, an American model slips back in time, becomes enslaved on a plantation and bears witness to the agony of her ancestral past.
A talented batch of amateur bakers face off in a 10-week competition, whipping up their best dishes in the hopes of being named the U.K.'s best.
A woman adjusting to life after a loss contends with a feisty bird that's taken over her garden — and a husband who's struggling to find a way forward.
Sicily boasts a bold "Anti-Mafia" coalition. But what happens when those trying to bring down organized crime are accused of being criminals themselves?
Struggling to earn a living in Bangkok, a man joins an emergency rescue service and realizes he must unravel a citywide conspiracy.
After most of her family is murdered in a terrorist bombing, a young woman is unknowingly lured into joining the very group that killed them.
When the clever but socially-awkward Tetê joins a new school, she'll do anything to fit in. But the queen bee among her classmates has other ideas.
Cameras following Bengaluru police on the job offer a rare glimpse into the complex and challenging inner workings of four major crime investigations.
Students of color navigate the daily slights and slippery politics of life at an Ivy League college that's not nearly as "post-racial" as it thinks.
Declassified documents reveal the post-WWII life of Otto Skorzeny, a close Hitler ally who escaped to Spain and became an adviser to world presidents.
Strangers Diego and Isabel flee their home in Mexico and pretend to be a married couple to escape his drug-dealing enemies and her abusive husband.
After a deadly home invasion at a couple’s new dream house, the traumatized wife searches for answers — and learns the real danger is just beginning.
In the 1960s, a Holocaust survivor joins a group of self-trained spies who seek justice against Nazis fleeing to Spain to hide after WWII.
In the late 1970s, an accused serial rapist claims multiple personalities control his behavior, setting off a legal odyssey that captivates America.
When a good deed unwittingly endangers his clan, a 13th-century Turkish warrior agrees to fight a sultan's enemies in exchange for new tribal land.
Newly divorced and denied visitation rights with his daughter, a doting father disguises himself as a gray-haired nanny in order to spend time with her.
From arcade games to sled days and hiccup cures, Cory Carson’s curious little sister Chrissy speeds off on her own for fun and adventure all over town!
When the father of the man she loves insists that his twin sons marry twin sisters, a woman creates an alter ego that might be a bit too convincing.
Finding love can be hard for anyone. For young adults on the autism spectrum, exploring the unpredictable world of dating is even more complicated.
A tangled love triangle ensues when a man falls for a woman studying to become a nun — and she falls for the friend he enlists to help him pursue her.
Mourning the loss of their beloved junior high basketball coach, five middle-aged pals reunite at a lake house and rediscover the joys of being a kid.
A family’s idyllic suburban life shatters when an alien force invades their home, and as they struggle to convince others of the deadly threat.
Blackmailed by his company's CEO, a low-level employee finds himself forced to spy on the boss's rival and former mentor.
As big city life buzzes around them, lonely souls discover surprising sources of connection and companionship in three tales of love, loss and longing.
Chicago Party Aunt Diane is an idolized troublemaker with a talent for avoiding adulthood — and a soft spot for her soul-searching nephew.
Insecure Otis has all the answers when it comes to sex advice, thanks to his therapist mom. So rebel Maeve proposes a school sex-therapy clinic.
Hundreds of cash-strapped players accept a strange invitation to compete in children's games. Inside, a tempting prize awaits — w

In [183]:
net[data2]

     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8802   s8803    Movie                 Zodiac    David Fincher
8803   s8804  TV Show            Zombie Dumb              NaN
8804   s8805    Movie             Zombieland  Ruben Fleischer
8805   s8806    Movie                   Zoom     Peter Hewitt
8806   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

              date_added  release_year rating   duration  \
0     September 25, 2021          2020  PG-13     90 min
1     September 24, 2021          2021  TV-MA  2 Seasons
2     September 24, 2021          2021  TV-MA   1 Season
3     September 24, 2021          2021  TV-MA   1 Season
4     September 24, 2021          2021  TV-MA  2 Seasons
...                  ...           ...    ...        ...
8802   November 20, 2019          2007      R    158 min
8803        July 1, 2019          2018  TV-Y7  2 Seasons
8804    November 1, 2019          2009      R     88 min
8805    January 11, 2020          2006     PG     88 min
8806       March 2, 2019          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8807 rows x 12 columns]