In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("Datasets/LS_2.0.csv")

In [3]:
data.head()

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL\nCASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL\nVOTES,POSTAL\nVOTES,TOTAL\nVOTES,OVER TOTAL ELECTORS \nIN CONSTITUENCY,OVER TOTAL VOTES POLLED \nIN CONSTITUENCY,TOTAL ELECTORS
0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52,52.0,ST,12th Pass,"Rs 30,99,414\n ~ 30 Lacs+","Rs 2,31,450\n ~ 2 Lacs+",376892,482,377374,25.330684,35.468248,1489790
1,Telangana,ADILABAD,Godam Nagesh,0,TRS,Car,MALE,0,54.0,ST,Post Graduate,"Rs 1,84,77,888\n ~ 1 Crore+","Rs 8,47,000\n ~ 8 Lacs+",318665,149,318814,21.399929,29.964370,1489790
2,Telangana,ADILABAD,RATHOD RAMESH,0,INC,Hand,MALE,3,52.0,ST,12th Pass,"Rs 3,64,91,000\n ~ 3 Crore+","Rs 1,53,00,000\n ~ 1 Crore+",314057,181,314238,21.092771,29.534285,1489790
3,Telangana,ADILABAD,NOTA,0,NOTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13030,6,13036,0.875023,1.225214,1489790
4,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5,58.0,SC,Doctorate,"Rs 7,42,74,036\n ~ 7 Crore+","Rs 86,06,522\n ~ 86 Lacs+",644459,2416,646875,33.383823,56.464615,1937690

In [7]:
data.shape

(2263, 19)

In [8]:
data.dropna(inplace=True)

In [19]:
def check(x):
    v = "".join(x.split("\n")[0][3:].split(","))
    try:
        v = int(v)
    except:
        v = 0
    return v

In [21]:
data['ASSETS'] = data['ASSETS'].apply(check)

In [22]:
data['ASSETS']

0          9414
1         77888
2         91000
4         74036
5        784385
         ...
2257       8500
2258          0
2259    7851556
2260     663001
2261      77327
Name: ASSETS, Length: 2018, dtype: int64

In [25]:
data[data['WINNER']==1].groupby('PARTY')['STATE'].count().nlargest(1)

PARTY
BJP    300
Name: STATE, dtype: int64

In [40]:
temp = data[data['WINNER']==1]
states = data[data['WINNER']==1]['STATE'].unique()
for s in states:
    v = data[data['STATE'] == s]['PARTY'].value_counts()
    print(s, "\t", v.index[0], "\t", v[0])

Telangana 	 TRS 	 17
Uttar Pradesh 	 BJP 	 78
Maharashtra 	 VBA 	 47
Gujarat 	 BJP 	 26
Rajasthan 	 INC 	 25
Kerala 	 CPI(M) 	 18
West Bengal 	 AITC 	 42
Uttarakhand 	 BJP 	 5
Andhra Pradesh 	 YSRCP 	 25
Haryana 	 BJP 	 10
Punjab 	 AAP 	 13
Jammu & Kashmir 	 BJP 	 6
Andaman & Nicobar Islands 	 BSP 	 1
Tamil Nadu 	 IND 	 39
Bihar 	 IND 	 67
Arunachal Pradesh 	 PPA 	 2
Odisha 	 BJD 	 21
Assam 	 INC 	 14
Karnataka 	 BJP 	 27
Madhya Pradesh 	 BJP 	 29
Chhattisgarh 	 BJP 	 11
Chandigarh 	 BSP 	 1
NCT OF Delhi 	 BJP 	 7
Jharkhand 	 IND 	 19
Dadra & Nagar Haveli 	 IND 	 3
Daman & Diu 	 BJP 	 1
Himachal Pradesh 	 BJP 	 4
Manipur 	 NEINDP 	 2
Lakshadweep 	 INC 	 1
Mizoram 	 IND 	 2
Nagaland 	 INC 	 1
Goa 	 BJP 	 2
Puducherry 	 MNM 	 1
Meghalaya 	 BJP 	 2
Sikkim 	 BJP 	 1
Tripura 	 CPI(M) 	 2

In [41]:
imdb = pd.read_csv("Datasets/IMDb movies.csv")

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [52]:
temp = imdb['genre'].str.strip().str.split(",", expand=True)

In [57]:
pd.concat([temp[0], temp[1], temp[2]]).str.strip().value_counts()

Drama          47110
Comedy         29368
Romance        14128
Action         12948
Thriller       11388
Crime          11067
Horror          9557
Adventure       7590
Mystery         5225
Family          3962
Fantasy         3812
Sci-Fi          3608
Biography       2377
History         2296
War             2242
Animation       2141
Musical         2041
Music           1689
Western         1583
Sport           1064
Film-Noir        663
Reality-TV         3
Documentary        2
Adult              2
News               1
dtype: int64

In [59]:
imdb['genre'].str.split(",")

0                            [Romance]
1          [Biography,  Crime,  Drama]
2                              [Drama]
3                    [Drama,  History]
4        [Adventure,  Drama,  Fantasy]
                     ...
85850                         [Comedy]
85851                 [Comedy,  Drama]
85852                          [Drama]
85853                 [Drama,  Family]
85854                          [Drama]
Name: genre, Length: 85855, dtype: object

In [61]:
imdb['budget'].value_counts()

$ 1000000         758
$ 2000000         570
$ 5000000         514
$ 3000000         506
$ 10000000        434
                 ...
CHF 250000          1
IDR 2242809297      1
$ 727400            1
$ 1740000           1
NLG 700000          1
Name: budget, Length: 4642, dtype: int64

In [62]:
net = pd.read_csv("Datasets/netflix_titles.csv")

In [63]:
net.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [69]:
net[net['cast'].apply(lambda x:True if 'Jitendra Kumar'.lower() in str(x).lower() else False)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
2353,s2354,Movie,Chaman Bahaar,Apurva Dhar Badgaiyann,"Jitendra Kumar, Ritika Badiani, Yogendra Tikku...",India,"June 19, 2020",2020,TV-MA,112 min,"Comedies, Dramas, International Movies",A local shop becomes a hub for young men taken...

In [70]:
net[net['cast'].apply(lambda x:True if 'Mark Ruffalo'.lower() in str(x).lower() else False)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
122,s123,Movie,In the Cut,Jane Campion,"Meg Ryan, Mark Ruffalo, Jennifer Jason Leigh, ...","United Kingdom, Australia, France, United States","September 2, 2021",2003,R,118 min,Thrillers,After embarking on an affair with the cop prob...
1358,s1359,Movie,Shutter Island,Martin Scorsese,"Leonardo DiCaprio, Mark Ruffalo, Ben Kingsley,...",United States,"February 1, 2021",2010,R,139 min,Thrillers,A U.S. marshal's troubling visions compromise ...
6200,s6201,Movie,Avengers: Infinity War,"Anthony Russo, Joe Russo","Robert Downey Jr., Josh Brolin, Mark Ruffalo, ...",United States,"December 25, 2018",2018,PG-13,150 min,"Action & Adventure, Sci-Fi & Fantasy",Superheroes amass to stop intergalactic sociop...
7901,s7902,Movie,Rumor Has It,Rob Reiner,"Jennifer Aniston, Kevin Costner, Shirley MacLa...","United States, Germany, Australia","August 1, 2019",2005,PG-13,97 min,"Comedies, Romantic Movies",When Sarah travels to California for her siste...
8071,s8072,Movie,Spotlight,Tom McCarthy,"Mark Ruffalo, Michael Keaton, Rachel McAdams, ...",United States,"July 22, 2020",2015,R,129 min,"Dramas, Independent Movies",A team of reporters and editors at the Boston ...
8580,s8581,Movie,Thor: Ragnarok,Taika Waititi,"Chris Hemsworth, Tom Hiddleston, Cate Blanchet...",United States,"June 5, 2018",2017,PG-13,131 min,"Action & Adventure, Comedies, Sci-Fi & Fantasy",To save Asgard from a bloodthirsty goddess of ...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."

# h1
## h2
### h3
#### h4
##### h5
###### h6

<h1 style='color:red'>Hello</h1>